.caixa1{
    background-image: linear-gradient(to bottom right, rgb(181, 216, 240) ,rgb(166, 227, 255));
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
    border-radius: 5px;

}
.caixa2{
    background-color: rgb(95, 160, 204);
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    
    
}
input{
   width: 280px;
   height: 30px;
   display: flex;
   flex-direction: row;
}
body{
    background-color:rgb(249, 233, 213);
    
}
.senha{
    width: 280px;
   height: 30px;
}
.img{
    position: absolute;
    margin-bottom: 450px;
    height: 340px;
    width: 800px;
   
}
.botão{
    width: 200px;
    height: 50px;
    background-color:rgb(135, 253, 165) ;
    border-radius: 10px;

}
.lembre{
    display: flex;
    flex-direction: row;
    font-size: smaller;
    width: 120px;
    
}
.caixinha{
    width: 20px;
}
.senha{
    border-radius: 10px;
}
.nome{
    border-radius: 10px;
}
   
    
