@media screen and (max-width: 400px) {
body{
    background-color: #eba3dbf8;
}
h1{
    margin-left: 25px;
}
.botão1{
    color: #fffffff8;
    background-color:#e406b4f8 ;
    width: 180px;
    height: 30px;
    border-radius: 6px;
    margin-left: 40px;
    margin-top: 20px;
    border-color:#e406b4f8  ;
}
.botão2{
    color: #fffffff8;
    background-color:#e406b4f8 ;
    width: 180px;
    height: 30px;
    border-radius: 6px;
    margin-left: 40px;
    margin-top: 20px;
    border-color:#e406b4f8  ;
}
.botão3{
    color: #fffffff8;
    background-color:#e406b4f8 ;
    width: 180px;
    height: 30px;
    border-radius: 6px;
    margin-left: 40px;
    margin-top: 20px;
    border-color:#e406b4f8  ;
}
.botão4{
    color: #fffffff8;
    background-color:#e406b4f8 ;
    width: 180px;
    height: 30px;
    border-radius: 6px;
    margin-left: 40px;
    margin-top: 20px;
    border-color:#e406b4f8  ;
}
.botão5{
    color: #fffffff8;
    background-color:#e406b4f8 ;
    width: 180px;
    height: 30px;
    border-radius: 6px;
    margin-left: 40px;
    margin-top: 20px;
    border-color:#e406b4f8  ;
}
.botoes{
    gap: 5px;

}

}

@media screen and (min-width:323px) and (max-width:600px) {
    body{
        background-color: #eba3dbf8;
    }
    .botão1{
        color: #fffffff8;
        background-color:#e406b4f8 ;
        width: 180px;
        height: 30px;
        border-radius: 6px;
        margin-left: 40px;
        border-color:#e406b4f8  ;
    }
    .botão2{
        color: #fffffff8;
        background-color:#e406b4f8 ;
        width: 180px;
        height: 30px;
        border-radius: 6px;
        margin-left: 40px;
        border-color:#e406b4f8  ;
    }
    .botão3{
        color: #fffffff8;
        background-color:#e406b4f8 ;
        width: 180px;
        height: 30px;
        border-radius: 6px;
        margin-left: 40px;
        margin-top: 20px;
        border-color:#e406b4f8  ;
    }
    .botão4{
        color: #fffffff8;
        background-color:#e406b4f8 ;
        width: 180px;
        height: 30px;
        border-radius: 6px;
        margin-left: 40px;
        margin-top: 20px;
        border-color:#e406b4f8  ;
    }
    .botão5{
        color: #fffffff8;
        background-color:#e406b4f8 ;
        width: 180px;
        height: 30px;
        border-radius: 6px;
        margin-left: 40px;
        border-color:#e406b4f8  ;
    }
    
}

@media screen and (min-width: 601px) and (max-width:2000px){
    body{
        background-color: #eba3dbf8;
    }
    .botão1{
        color: #fffffff8;
        background-color:#e406b4f8 ;
        width: 180px;
        height: 30px;
        border-radius: 6px;
        margin-left: 40px;
        border-color:#e406b4f8  ;
    }
    .botão2{
        color: #fffffff8;
        background-color:#e406b4f8 ;
        width: 180px;
        height: 30px;
        border-radius: 6px;
        margin-left: 40px;
        border-color:#e406b4f8  ;
    }
    .botão3{
        color: #fffffff8;
        background-color:#e406b4f8 ;
        width: 180px;
        height: 30px;
        border-radius: 6px;
        margin-left: 40px;
        margin-top: 20px;
        border-color:#e406b4f8  ;
    }
    .botão4{
        color: #fffffff8;
        background-color:#e406b4f8 ;
        width: 180px;
        height: 30px;
        border-radius: 6px;
        margin-left: 40px;
        margin-top: 20px;
        border-color:#e406b4f8  ;
    }
    .botão5{
        color: #fffffff8;
        background-color:#e406b4f8 ;
        width: 180px;
        height: 30px;
        border-radius: 6px;
        margin-left: 40px;
        border-color:#e406b4f8  ;
    }
     
}